<%= simple_form_for(@study_guide) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <table class='sgtable'>
    <thead>
    <tr>
      <th></th>
      <th>Field Type</th>
      <th>Content</th>
    </tr>
    </thead>
    <tbody class='sgfields'>
    <%= f.simple_fields_for :sgfields do |builder| %>
      <%= render 'sgfield_fields', f: builder %>
    <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>
      <%= link_to_add_association 'Add Field', f, :sgfields, class: 'button', data: { association_insertion_node: '.sgfields', association_insertion_method: :append } %>
    </div>
<% end %>
