<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Open+Sans+Condensed:300|Roboto'%>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Open+Sans+Condensed:300|Roboto" rel="stylesheet">


<div class = "nav">
  <ul>
    <%= link_to root_path do %>
      <li ><h1>Hyper<br> &nbsp; &nbsp; &nbsp;&nbsp; Focus</h1></li>
    <% end %>

    <%= link_to new_study_guide_path do %>
        <li class ="navbutt" id="active"><h1> <br> + Study Guide</h1></li>
    <% end %>


    <%= link_to pages_edit_path do %>
      <li class ="navbutt"><h1><br><%= image_tag 'pencil.png',:class => "icon" %> Study Guide</h1></li>
    <% end %>

  </ul>

  <div class ="line">
    <%= image_tag 'line-h.png' %>
  </div>

</div>
<div class="sgform">
<h1>New Study Guide</h1>

<%= render 'form', study_guide: @study_guide %>

<!--<%= link_to 'Back', study_guides_path %>-->
</div>
