<div class="topnav">
<a <%= link_to "Hyperfocus", root_path %>
  <!-- # =>  <a href="/">Home1</a> -->

<a class="active" <%= link_to "About", pages_download_path %>
  <!-- # => <!-- <a href="/pages/new">Home2</a> -->

<a  <%= link_to "New Study Guide", pages_new_path %>
  <!-- # => <!-- <a href="/pages/new">Home2</a> -->

</div>

<body>

study guide generator that will allow them to quickly input the information and output a fully formatted and organized study guide.

</body>

<%= image_tag("preview of dashboard.png")%>

<br>
<br>
<br>
<%= image_tag("studyguide form.png")%>
