<div class="topnav">
<a class="active"  <%= link_to "Hyperfocus", root_path %>
  <!-- # =>  <a href="/">Home1</a> -->

  <%= link_to "About", pages_download_path %>
  <!-- # => <!-- <a href="/pages/new">Home2</a> -->

  <%= link_to "New Study Guide", pages_new_path %>
  <!-- # => <!-- <a href="/pages/new">Home2</a> -->

</div>
<%= image_tag 'header.png', :class => "hf" %>
<div id="custom">
  <%= link_to "new study guide", pages_new_path %>
</div>
