<div class = "nav">
  <ul>
    <%= link_to root_path do %>
      <li ><h1>Hyper<br> &nbsp; &nbsp; &nbsp;&nbsp; Focus</h1></li>
    <% end %>

    <%= link_to pages_new_path do %>
        <li class ="navbutt" id="active"><h1> <br> + Study Guide</h1></li>
    <% end %>


    <%= link_to pages_edit_path do %>
      <li class ="navbutt"><h1><br><%= image_tag 'pencil.png',:class => "icon" %> Study Guide</h1></li>
    <% end %>

  </ul>

  <div class ="line">
    <%= image_tag 'line-h.png' %>
  </div>

<form class="studyform" method="post">
  <div>
    <label for="term">Title:</label>
    <input type="text" id="term" name="term1">

    <br>

    <label for="term">term:</label>
    <input type="text" id="term" name="term1">
    <label for="definition">definition:</label>
    <input type="text" id="definition" name="user_message">

    <br>
    <label for="term">term:</label>
    <input type="text" id="term" name="term1">
    <label for="definition">definition:</label>
    <input type="text" id="definition" name="user_message">

    <br>
    <label for="term">term:</label>
    <input type="text" id="term" name="term1">
    <label for="definition">definition:</label>
    <input type="text" id="definition" name="user_message">


    <br>
    <label for="term">term:</label>
    <input type="text" id="term" name="term1">
    <label for="definition">definition:</label>
    <input type="text" id="definition" name="user_message">


    <br>


    <button id="addnew" type="button" onclick="alert('would add fields for new term')">+term</button>


    <div >
      <label for="mainpoints">Main Point</label>
      <textarea id="mainpoints" class="mainpoints" name="mainpoints" rows="7" cols="30"></textarea>
      <label for="bulletpoints">Bullet Points</label>
      <textarea id="bulletpoints" class="input" name="message" rows="7" cols="30"></textarea>
    </div>

    <div >
      <label for="mainpoints">Main Point</label>
      <textarea id="mainpoints" class="mainpoints" name="mainpoints" rows="7" cols="30"></textarea>
      <label for="bulletpoints">Bullet Points</label>
      <textarea id="bulletpoints" class="input" name="message" rows="7" cols="30"></textarea>
    </div>

    <br>


    <button id="addnew" type="button" onclick="alert('would add fields for new points')">+points</button>
    <div id="custom">
      <%= link_to "create study guide", pages_generate_path %>
    </div>
  </div>




</form>
